<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 <appSettings>
    <add key="ConnectionString" value="Data Source=NHAN-PC\HUY;Initial Catalog=QLT;Integrated Security=True"/>

    <add key ="MaTreFORMAT" value =""/>
  </appSettings>
</configuration>